{% extends "issuetracker/base.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-9">
    <div class="row">
	  <div class="col-sm-offset-2 col-sm-10">
	    <h3>{{ object }}</h3>
	  </div>
	</div>
  </div>
  <div class="col-sm-3">
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-sm-push-9">
    <div class="panel panel-{% if object.closed %}success{% else %}info{% endif %}">
      <div class="panel-heading">
        <h3 class="panel-title">Info</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>{% if object.closed %}Closed{% elif object.assignee %}Assgined{% else %}Open{% endif %}</li>
          {% with actions|first as action %}
          <li>{{ action.date }}</li>
          {% endwith %}
        </ul>
      </div>
      {% if tags %}
      <div class="panel-footer">
        <ul>
          {% for tag in object.tags %}
          <li><span class="label label-default" style="background-color:#{{ tag.tag.colour }}">{{ tag.tag }}</span></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col-sm-9 col-sm-pull-3">
    {% for action in actions %}
    {% include "issuetracker/issueaction.html" with action=action %}
    {% endfor %}
  </div>
</div>
{% endblock %}