{% extends "issuetracker/base.html" %}
{% load i18n %}

{% block content %}
<h2><span class="glyphicon glyphicon-list-alt"></span> {% trans "Issues" %}
    <a class="btn btn-success"class="btn btn-success" href="{% url 'issuetracker:new_issue' %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Create new Issue" %}</a>
    </h2>
{% if object_list %}
    <div class="list-group issue-list">
        {% for issue in object_list %}
        <a href="{{ issue.get_absolute_url }}" class="list-group-item">
            <dl>
                <dt>{% if issue.closed %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-question-sign"></span>{% endif %} {{ issue }}
                {% for tag in issue.get_tags %}
                {% include "issuetracker/tag.html" with tag=tag %}
                {% endfor %}</dt>
                <dd>#{{ issue.pk }} by {{ issue.reporter }}</dd>
            </dl>
        </a>
        {% endfor %}
    </div>
    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <p>{% trans "No issues" %}</p>
{% endif %}
{% endblock %}
