{% extends "issuetracker/base.html" %}
{% load i18n %}

{% block content %}
    <h2><span class="glyphicon glyphicon-tags"></span> {% trans "Tags" %}
    <a class="btn btn-success"class="btn btn-success" href="{% url 'issuetracker:new_tag' %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Create new Tag" %}</a>
    </h2>
{% if object_list %}
    <ul>
        {% for tag in object_list %}
        <li><a href="{{ tag.get_absolute_url }}">{% include "issuetracker/tag.html" with tag=tag %}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>{% trans "No tags" %}</p>
{% endif %}
{% endblock %}
